.git
.gitignore
.env*
**/.env*
**/node_modules
**/.next
**/.turbo
**/*.tsbuildinfo
node_modules
.next
.turbo
out
dist
coverage
.vercel
.uploads
**/.uploads
**/.certs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
